@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

body {
    margin: 0px;
    font-family: 'Poppins';
    font-weight: 400;
}

header {
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(180deg, #842a3a, #5b0b0d);
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

header h1 {
    color: #ffffff;
}

#menu {
    align-self: center; /* ALLINEAMENTO VERTICALE AL CENTRO PER GLI UL*/
}

#menu li {
    display: inline;
    color: white;
    margin-right: 20px;
    font-weight: 300;
}

#menu a:link {
    text-decoration: none;
    color: white;
}

#menu a:visited {
    color: white;
}

main a:link {
    text-decoration: none;
    color: #5b0b0d;
}

main a:visited {
    color: #5b0b0d;
}

main {
    padding: 20px;
}

main h1 {
    border-bottom: solid 1px #cccccc;
}


main li {
    display: block;
    list-style-type: disc; /* doesn't work */
}

#main_div {
    display: flex;
    flex-direction: row;
}

#intro_div {
    margin-right: 20px;
}

#ritratto_div {
    font-size: 10pt;
    text-align: center;
    border: 1px solid;
    padding: 5px;
    margin-bottom: 0px;
    align-self: center;
}

img {
    width: 200px;
}

footer {
    border-top: solid 1px #cccccc;
    margin: 0px 20px 0px 20px;
    text-align: center;
    color: #cccccc;
}

#biografia_1, #biografia_2, #biografia_3 {
    display: flex;
    flex-direction: row;
}

#biografia_1_text, #biografia_3_text {
    margin-right: 20px;;
}

#biografia_2_text {
    margin-left: 20px;
}

#biografia_1_image, #biografia_2_image, #biografia_3_image {
    font-size: 10pt;
    text-align: center;
    border: 1px solid;
    padding: 5px;
    margin-bottom: 0px;
    align-self: center; /* AUTO-ALLINEAMENTO VERTICALE AL CENTRO */
}

#biblioteca {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 10pt;
}

#biblioteca table {
    border-spacing: 0px;
    width: 80%;
    margin: auto;
}

#biblioteca h4 {
    margin: 0px;
}

td {
    text-align: left;
}

#td2a, #td2b {
    background-color: #8f343d;
}

#td3a, #td3b, #td5a, #td5b, #td7a, #td7b {
    background-color: #ede7c7;
}